{% extends 'blogapp/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, iste sapiente possimus provident, consequatur animi similique voluptate ut sit dolore, quaerat molestiae porro vero eos omnis accusamus veniam non. Possimus, beatae laboriosam autem ullam, perferendis deserunt nihil voluptatem veniam non aperiam quisquam fuga qui, itaque error libero esse aut cum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos necessitatibus corporis magni, esse minus vitae quam quas beatae possimus? Sequi culpa optio eaque reprehenderit voluptas, natus eveniet tempora doloribus quos.</p>
</div>
{% endblock content %}